<!doctype html>
  <title>xiaomo</title>
  <body>
    <h1>Happy every day -- fighting for our future!</h1>
    <h2>XiaoMo, be my girl friend and let me take care of you for the rest of my life.</h2>
    <h2 style="color:red">爱&hearts;你</h2>
    <br>
    <br>
    <br>
    <br>
    <h3>第一次招呼，来自qq -- 2014-2-23</h3>
    <h3>第一次约会，羽毛球 -- 2014-3-2</h3>
    <h3>第一次牵手，@古荡小区 -- 2014-3-8</h3>
    <h3>第一次kiss，@你楼下 -- 2014-3-9</h3>
    <h3>还有很多的第一次没来得及记录时间：一起逛超市、一起下厨、爬山、挑高跟鞋、坐地铁、煲电话粥...</h3>
    <h3>还有未来的更多的第一次等着我们...</h3>
    <br>
    <br>
    <h4>距离我们相识已经过了{{t['day']}}天{{t['hour']}}小时{{t['minute']}}分{{t['second']}}秒</h3>
  </body>
  <style>
    h1,h2,h4{
      text-align:center
    }
    h3{
      color:#ffffff;
      text-align:center;
    }
  </style>

